@charset "utf-8";

// Bulma Import
@import "~bulma";
@import "~bulma-checkradio";

@import "../scss/mixins";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto&display=swap");

html {
  overflow: hidden !important;
}

body {
  font-family: "Open Sans", "sans-serif";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "sans-serif";
}

.page-wrapper {
  position: absolute;
  top: 0;
  left: -32px; //remove is-fluid class padding
  right: -32px; //remove is-fluid class padding
  height: 100%;
  overflow-y: auto;

  @include scrollBar();
}
